/* Profile Page Styling */
.profile-page {
    display: flex;
    margin-left: 350px; /* Offset for the sidebar */
  }
  
  .profile-content {
    margin-left: 30px;
    margin-top: 30px;
    width: calc(100% - 250px); /* Fill remaining space */
  }
  
  .profile-header {
    display: flex;
    align-items: center;
  }
  
  .profile-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .profile-info {
    margin-top: 20px;
  }
  
  .profile-info h3 {
    font-size: 22px;
    font-weight: bold;
    color: #D91656;
  }
  
  .profile-info form label {
    display: block;
    margin: 10px 0;
  }
  
  .profile-info input,
  .profile-info textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .profile-info button {
    background-color: #f39c12;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    width: 30%;
  }
  
  .profile-info button:hover {
    background-color: #e67e22;
  }
  
  .profile-edit-button {
    background-color: transparent;
    border: 1px solid #f39c12;
    color: #f39c12;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 30%;
  }
  
  .profile-edit-button:hover {
    background-color: #f39c12;
    color: white;
  }

  .profile-role{
    margin-left: 20px;
  }

  