/* Sidebar Styling */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #640D5F;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar-profile {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .profile-image {
    width: 150px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .profile-name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .sidebar-links {
    list-style: none;
    padding: 0;
    width: 100%;
  }
  
  .sidebar-links li {
    width: 100%;
  }
  
  .sidebar-links a, .logout-button {
    display: flex;
  align-items: center;
  padding: 12px 20px; /* Adjust padding to fit properly */
  text-decoration: none;
  color: white;
  font-size: 16px;
  width: 100%;
  border: none;
  background-color: transparent;
  transition: background-color 0.3s;
  box-sizing: border-box;
  }
  
  .sidebar-links a:hover,
.logout-button:hover {
  background-color: #550a51;
  border-radius: 4px; /* Optional: Adds rounded corners */
}
  
  .sidebar-icon {
    font-size: 20px;
    margin-right: 15px;
  }
  
  .logout-button {
    cursor: pointer;
  }
  
  .logout-button:hover {
    background-color: #e74c3c;
    color: white;
  }
  